{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "jsx": true,
      "decorators": true,
      "decoratorsBeforeExport": true
    },
    "transform": null,
    "loose": false,
    "externalHelpers": false,
    // Requires v1.2.50 or upper and requires target to be es2016 or upper.
    "keepClassNames": false
  },
  "env": {
    "targets": [
  "last 2 chrome versions",
  "last 2 firefox versions",
  "last 2 edge versions",
  "last 2 ios versions",
  "last 2 opera versions",
  "last 2 safari versions",
  "last 2 ChromeAndroid versions"
]
  },
  "minify": false
}
